@model Course

<h1>Description page test4</h1>
@* @await Html.PartialAsync("_Course", Model) *@



<div class="row">
    <div class="col md-4">
        <img src="~/img/@Model.Image" alt="" class="img-fluid rounded">
    </div>
    <div class="col md-8">

        <a asp-controller="Course" asp-action="Details" asp-route-id="@Model.ID">
            <h5 class="card-title">@Model.Title</h5>
        </a>
        <a asp-controller="Course" asp-action="Details" asp-route-id="@Model.ID">
            <p class="card-text">@Model.Description</p>
        </a>
        <div>
            @if (Model.Tags != null)
            {
                @foreach (var tag in Model.Tags.Split(','))
                {
                    <span class="badge bg-primary">@tag</span>
                }
            }
        </div>

    </div>
</div>